#civicrm_event_invitations_events_text_wrapper,
#civicrm_event_invitations_events_html_wrapper {
    width: 50%;
    float: left;
}

#civicrm_event_invitations_events_text_wrapper .event_label,
#civicrm_event_invitations_events_html_wrapper .event_label {
  float: left;
  padding: 0 5px 0 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
